@{ 
    var current = ViewContext.RouteData.Values["Action"] as string;
}

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("TOLU", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="@(current == "Index" ? "active" : null)">@Html.ActionLink("Home", "Index", "Home", current)</li>
                <li class="@(current == "About" ? "active" : null)">@Html.ActionLink("About", "About", "Home", current)</li>
                <li class="@(current == "Slides" ? "active" : null)">@Html.ActionLink("Slides", "Slides", "Home", current)</li>
                <li class="@(current == "Contact" ? "active" : null)">@Html.ActionLink("Contact", "Contact", "Home", current)</li>
            </ul>
        </div>
    </div>
</div>