@using ItsPersonal.Extensions
@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>Find me elsewhere</h3>
<div class="contact">
	<ul class="list-inline">
		<li>
			<a href="https://github.com/tolu">
				<img src="@Url.Image("github-logo.png")" alt="about_me">
				<span>GitHub</span>
			</a>
		</li>
		<li>
			<a href="http://about.me/tobias_lundin">
				<img src="@Url.Image("about_me.png")" alt="about_me">
				<span>about.me</span>
			</a>
		</li>
		<li>
			<a href="http://mrlundin.ontheroad.to/south-america/" title="">
				<img src="@Url.Image("ontheroad-icon.png")" alt="south america">
				<span>travels</span>
			</a>
		</li>
		<li>
			<a href="http://www.facebook.com/toblu567" title="">
				<img src="@Url.Image("facebook-icon.png")" alt="facebook">
				<span>facebook</span>
			</a>
		</li>
		<li>
			<a href="http://www.linkedin.com/in/tobiaslundin">
				<img src="@Url.Image("linkedin-icon.png")" alt="linked in">
				<span>linked in</span>
			</a>
		</li>
		<li>
			<a href="http://vimeo.com/user9553169">
				<img src="@Url.Image("vimeo-icon.png")" alt="vimeo">
				<span>Vimeo</span>
			</a>
		</li>
		@*<li>
			<a href="//app.tobiaslundin.se">
				<img src="@Url.Image("html5-icon.png")" alt="html5 play">
				<span>Html5 play</span>
			</a>
		</li>*@
	</ul>
</div>

<address>
    Akersveien 19A<br />
    0177, Oslo, Norway<br />
</address>