@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>Find me elsewhere</h3>
<div class="contact">
    <ul class="list-inline">
        <li>
            <a href="https://github.com/tolu" class="text-info" data-track="clickedGitHubLink">
                @*<img src="@Url.Image("github-logo.png")" alt="about_me">*@
                <i class="fa fa-github-alt fa-4x"></i>
                GitHub
            </a>
        </li>
        @*<li>
            <a href="http://about.me/tobias_lundin" class="text-warning">
                <img src="@Url.Image("about_me.png")" alt="about_me">
                <i class="fa fa-subway fa-4x"></i>
                about.me
            </a>
        </li>*@
        @*<li>
            <a href="http://mrlundin.ontheroad.to/south-america/" class="text-success">
                <img src="@Url.Image("ontheroad-icon.png")" alt="south america">
                <i class="fa fa-paper-plane-o fa-4x"></i>
                travels
            </a>
        </li>*@
        <li>
            <a href="http://www.facebook.com/toblu567" class="" data-track="clickedFacebookLink">
                @*<img src="@Url.Image("facebook-icon.png")" alt="facebook">*@
                <i class="fa fa-facebook-square fa-4x"></i>
                facebook
            </a>
        </li>
        <li>
            <a href="http://www.linkedin.com/in/tobiaslundin" class="text-warning" data-track="clickedLinkedInLink">
                @*<img src="@Url.Image("linkedin-icon.png")" alt="linked in">*@
                <i class="fa fa-linkedin-square fa-4x"></i>
                linked in
            </a>
        </li>
        @*<li>
            <a href="http://vimeo.com/user9553169" class="text-danger">
                <img src="@Url.Image("vimeo-icon.png")" alt="vimeo">
                <i class="fa fa-vimeo-square fa-4x"></i>
                Vimeo
            </a>
        </li>*@
        @*<li>
                <a href="//app.tobiaslundin.se">
                    <img src="@Url.Image("html5-icon.png")" alt="html5 play">
                    <span>Html5 play</span>
                </a>
            </li>*@
    </ul>
</div>
<h5>Adress</h5>
<address>
    Akersveien 19A<br />
    0177, Oslo, Norway<br />
</address>
<a class="btn btn-default" target="_blank" href="https://www.google.se/maps/place/Akersveien+19,+0180+Oslo,+Norway/">Map &raquo;</a>